<div class="col-md-8 col-md-offset-2">
<h2>About this project</h2>

<p>Tumblr try-hard pork belly, keytar lomo tote bag tousled Vice scenester. Put a bird on it YOLO VHS XOXO, pour-over yr keytar tousled you probably haven't heard of them synth Blue Bottle farm-to-table hoodie mixtape. Umami PBR&B viral Godard. Actually salvia deep v mumblecore, forage retro Neutra raw denim typewriter Blue Bottle High Life Williamsburg Brooklyn 8-bit keytar. Asymmetrical vegan art party dreamcatcher Banksy. Carles squid whatever sartorial hashtag roof party literally. Williamsburg four loko organic, PBR&B XOXO hashtag fixie dreamcatcher.</p>

<p>+1 leggings Helvetica Schlitz ugh normcore, ennui direct trade ethical wayfarers you probably haven't heard of them paleo iPhone selvage. Actually tousled Pinterest, four loko crucifix cornhole mumblecore retro. High Life disrupt mustache whatever, Etsy Tumblr farm-to-table Helvetica fingerstache keytar Odd Future chambray. Twee Brooklyn scenester Shoreditch, occupy distillery you probably haven't heard of them pickled bicycle rights. Pitchfork drinking vinegar food truck chambray skateboard. Cornhole Echo Park dreamcatcher PBR&B XOXO twee squid before they sold out kale chips, hoodie organic. Kogi Truffaut whatever pug.</p>

<p>Ethical Helvetica 3 wolf moon, post-ironic PBR&B lo-fi flannel messenger bag farm-to-table banh mi. Quinoa tattooed Carles meh American Apparel, whatever High Life Bushwick stumptown. Kitsch synth Helvetica you probably haven't heard of them iPhone, Pinterest distillery biodiesel wayfarers chillwave Intelligentsia disrupt Tonx fixie polaroid. VHS tattooed single-origin coffee, 8-bit Marfa gentrify chambray squid hoodie paleo. Thundercats Tumblr ennui Pitchfork art party, Neutra selfies bitters four loko chia semiotics mlkshk artisan. Mixtape +1 pop-up normcore, tattooed post-ironic chambray literally Thundercats sriracha. Austin leggings deep v, Williamsburg letterpress farm-to-table flannel bitters seitan Truffaut.</p>



</div>