<div class="col-md-8 col-md-offset-2">
<h2>About</h2>
<p>Hurricane Sandy never really left us. The roads might be clear and the National Guardsmen gone, but thousands of New Jerseyans remain displaced nearly two years after the storm.</p>

<p>These are the forgotten faces of Sandy.</p>

<p>NJ.com commissioned photographer Robb Paniconi to document some of those stories in images and sound.</p>

<p>We're still collecting those stories. <a href="http://www.nj.com/news/index.ssf/2014/07/are_you_still_feeling_sandys_impact_we_want_to_hear_from_you.html">Tell us yours here</a>.</p>

We'll be adding more individual stories in the weeks running up to the storm's two-year anniversary on our special project page.

<hr></hr>
<h2>Team</h2>

<p><a href="http://www.RobertPaniconi.com">Robert Paniconi</a> has been photographing in and around the state for years. His focus ranges from social issues to contemporary fine art projects.</p>

<p><a href="http://connect.nj.com/user/CarlaAstudillo/posts.html">Carla Astudillo</a> is a data interactive reporter for NJ.com.</p>

<p><a href="http://connect.nj.com/user/sp_sullivan/posts.html">S.P. Sullivan</a> is a reporter for NJ.com.</p>

<hr></hr>

<p><em>This project was partially funded by a grant from the <a href="http://www.grdodge.org/about-us/new-jersey-recovery-fund/">New Jersey Recovery Fund</a>, through the <a href="http://www.cfnj.org/">Community Foundation of New Jersey</a>.</em></p>



</div>