
<!DOCTYPE html>
<html>
	<head>

  <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script>

  </head>

<% @posts.each do |post| %>

<div class="item">
<%= render 'posts/post', post:post %>
</div>



<% end %>


  <%= will_paginate @posts %>


</body>

  
	</html>


