/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { padding-top: 70px;
min-height: 2000px; 
  background-image: radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
  background-image: -o-radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
  background-image: -ms-radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
  background-image: -moz-radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
  background-image: -webkit-radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
}

.navbar-fixed-top {background-color: #222;}

a.navbar-brand {
  font-size: 37px;
}

.navbar {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;

}



#content {
  height:100%;
  margin: 0 auto !important;
font-size: 1.2em;
}

#content h2{font: 700 35px/0.5 'Oswald', Helvetica, sans-serif;
margin-top: 20px;
text-transform: uppercase;
margin-bottom: 10px;

line-height: 1.1;}

 #content a {
  color: #919191;
 }

 

#content .item { width: 32% !important;
   padding: 9px;
line-height: 1.42857143;
background: #fafafa;
font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
line-height: 1.4;
height: auto;
margin: 3px;
float:left;
    box-shadow:0 0 7px #bbb;

  
 }

 #content .fullpost { 
   padding: 20px;
line-height: 1.42857143;
background: #fafafa;
font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
line-height: 1.4;
height: auto;
float:left;
    box-shadow:0 0 7px #bbb;

  
 }

 #content blockquote {
  font-weight: bold;
  border-right: 5px solid #eee;
 }

 #content blockquote a {
  color: #404040;
 }

 #content .item:hover { opacity: 0.8;
  

  
 }







  .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    background: #f5f5f5;
    position:absolute;
}

.video-responsive p{
}

nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left; overflow:hidden;}
nav.share iframe {max-height:20px; border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {max-width:70px; font-size: default; !important}
.twitter-share-button, .twitter-count-horizontal {max-width:80px;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/
  
