// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding-top: 120px; }

.navbar-fixed-top {background-color: #F0F0F0;}